{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Tu decisión
{% endblock %}

{% block content %}
    <p>
    En esta ronda usted tendrá el rol del Participante A. Asimismo, se le indica
    que usted jugará con un participante cuya [insertar característica individual] 
    es de [insertar score] (en la escala del 1 al 5 donde [insertar explicación 
    sobre la característica individual]. 
    En este momento usted tiene {{Constants.endowment}}. En la casilla de abajo
    coloque el número de puntos que desea pasar al Participante B y luego haga click en "Next".
    </p>

    {% formfields %}
    <p>
    {% next_button %}
    </p>

    {% include Constants.instructions_template %}

{% endblock %}